/* Capture 1 */


position: absolute;
width: 1440px;
height: 108px;
left: 0px;
top: 0px;

background: url(Capture.png);


/* TeachIT */


position: absolute;
width: 212px;
height: 46px;
left: 113px;
top: 113px;

font-family: Spectral;
font-style: normal;
font-weight: normal;
font-size: 49px;
line-height: 75px;

color: #000000;



/* Rectangle 3 */


position: absolute;
width: 141px;
height: 38px;
left: 1255px;
top: 121px;

background: #0181CA;
border-radius: 10px;


/* Rectangle 5 */


position: absolute;
width: 141px;
height: 38px;
left: 1096px;
top: 121px;

background: #E5E5E5;
border: 1px solid #0181CA;
box-sizing: border-box;
border-radius: 10px;


/* Rectangle 4 */


position: absolute;
width: 106px;
height: 75px;
left: 21px;
top: 108px;

background: url(f4a956759784c07447327065a19f5b78--education-logo-templates-free-removebg-preview.png);


/* Rectangle 2 */


position: absolute;
width: 1440px;
height: 199px;
left: 0px;
top: 217px;

background: url(iStock-869155894-1591301228.jpg);
opacity: 0.7;
border: 1px solid #E5E5E5;
box-sizing: border-box;


/* Rectangle 6 */


position: absolute;
width: 1440px;
height: 110px;
left: 0px;
top: 914px;

background: #5ABDF5;


/* Vector */


position: absolute;
left: 88.75%;
right: 9.72%;
top: 93.95%;
bottom: 4.3%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 91.39%;
right: 7.43%;
top: 93.95%;
bottom: 4.3%;

background: #FFFFFF;


/* CONTACT Email: support@teachit.com Terms and Conditions of Use Privacy Policy */


position: absolute;
width: 168px;
height: 96px;
left: 1232px;
top: 923px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;

color: #FFFFFF;



/* Home About FAQ's Blogs T&C For Tutors T&C For Students */


position: absolute;
width: 202px;
height: 103px;
left: 26px;
top: 921px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;

color: #FFFFFF;



/* Rectangle 8 */


position: absolute;
width: 464px;
height: 378px;
left: 21px;
top: 536px;

background: #ACDDF9;
border: 2px solid #74C3F0;
box-sizing: border-box;
border-radius: 10px;


/* Line 2 */


position: absolute;
width: 463px;
height: 0px;
left: 22px;
top: 827.31px;

border: 1px solid #000000;
transform: rotate(0.09deg);


/* Line 3 */


position: absolute;
width: 463px;
height: 0px;
left: 22px;
top: 780px;

border: 1px solid #000000;
transform: rotate(0.09deg);


/* Line 4 */


position: absolute;
width: 463px;
height: 0px;
left: 23px;
top: 733px;

border: 1px solid #000000;
transform: rotate(0.09deg);


/* Line 5 */


position: absolute;
width: 463px;
height: 0px;
left: 23px;
top: 688px;

border: 1px solid #000000;
transform: rotate(0.09deg);


/* Rida Ayaz */


position: absolute;
width: 199px;
height: 41px;
left: 161px;
top: 613px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 47px;

color: #000000;



/* Ellipse 1 */


position: absolute;
width: 127px;
height: 123px;
left: 185px;
top: 487px;

background: url(user.png);


/* Rectangle 9 */


position: absolute;
width: 140px;
height: 33px;
left: 64px;
top: 859px;

background: #0181CA;
border: 1px solid #0181CA;
box-sizing: border-box;
border-radius: 10px;


/* Hire Now */


position: absolute;
width: 82px;
height: 24px;
left: 97px;
top: 865px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;

color: #FFFFFF;



/* Rectangle 10 */


position: absolute;
width: 140px;
height: 33px;
left: 290px;
top: 859px;

background: #0181CA;
border: 1px solid #0181CA;
box-sizing: border-box;
border-radius: 10px;


/* View Profile */


position: absolute;
width: 101px;
height: 24px;
left: 315px;
top: 864px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;

color: #FFFFFF;



/* Vector */


position: absolute;
left: 86.39%;
right: 12.36%;
top: 93.95%;
bottom: 4.3%;

background: #FFFFFF;


/* Login */


position: absolute;
width: 50px;
height: 23px;
left: 1141px;
top: 129px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

color: #0181CA;



/* Register */


position: absolute;
width: 74px;
height: 23px;
left: 1289px;
top: 129px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

color: #FFFFFF;



/* Star 1 */


position: absolute;
width: 28px;
height: 26px;
left: 305px;
top: 662px;

background: #F3F80D;
border: 1px solid #000000;
box-sizing: border-box;


/* Star 6 */


position: absolute;
width: 28px;
height: 26px;
left: 332px;
top: 662px;

background: #F3F80D;
border: 1px solid #000000;
box-sizing: border-box;


/* Star 7 */


position: absolute;
width: 28px;
height: 26px;
left: 360px;
top: 662px;

background: #F3F80D;
border: 1px solid #000000;
box-sizing: border-box;


/* Star 8 */


position: absolute;
width: 28px;
height: 26px;
left: 388px;
top: 662px;

background: #F3F80D;
border: 1px solid #000000;
box-sizing: border-box;


/* Star 5 */


position: absolute;
width: 28px;
height: 26px;
left: 423px;
top: 663px;

background: #C4C4C4;


/* Female */


position: absolute;
width: 140px;
height: 28px;
left: 42px;
top: 660px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

color: #000000;



/* Qualification */


position: absolute;
width: 140px;
height: 28px;
left: 42px;
top: 706px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

color: #000000;



/* BSSE */


position: absolute;
width: 140px;
height: 28px;
left: 346px;
top: 705px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

color: #000000;



/* 03 Years */


position: absolute;
width: 140px;
height: 28px;
left: 346px;
top: 749px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

color: #000000;



/* Computer Science */


position: absolute;
width: 171px;
height: 28px;
left: 315px;
top: 800px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

color: #000000;



/* Experience */


position: absolute;
width: 140px;
height: 28px;
left: 42px;
top: 753px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

color: #000000;



/* Subject */


position: absolute;
width: 140px;
height: 28px;
left: 42px;
top: 800px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

color: #000000;



/* Rectangle 11 */


position: absolute;
width: 464px;
height: 378px;
left: 491px;
top: 536px;

background: #ACDDF9;
border: 2px solid #74C3F0;
box-sizing: border-box;
border-radius: 10px;


/* Line 6 */


position: absolute;
width: 463px;
height: 0px;
left: 492px;
top: 827.31px;

border: 1px solid #000000;
transform: rotate(0.09deg);


/* Line 7 */


position: absolute;
width: 463px;
height: 0px;
left: 492px;
top: 780px;

border: 1px solid #000000;
transform: rotate(0.09deg);


/* Line 8 */


position: absolute;
width: 463px;
height: 0px;
left: 493px;
top: 733px;

border: 1px solid #000000;
transform: rotate(0.09deg);


/* Line 9 */


position: absolute;
width: 463px;
height: 0px;
left: 493px;
top: 688px;

border: 1px solid #000000;
transform: rotate(0.09deg);


/* Hamna Baqi */


position: absolute;
width: 221px;
height: 41px;
left: 609px;
top: 613px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 47px;

color: #000000;



/* Find Your Best Tutor */


position: absolute;
width: 374px;
height: 41px;
left: 546px;
top: 423px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 47px;
text-decoration-line: underline;

color: #000000;



/* Ellipse 2 */


position: absolute;
width: 127px;
height: 123px;
left: 655px;
top: 487px;

background: url(user.png);


/* Rectangle 12 */


position: absolute;
width: 140px;
height: 33px;
left: 534px;
top: 859px;

background: #0181CA;
border: 1px solid #0181CA;
box-sizing: border-box;
border-radius: 10px;


/* Hire Now */


position: absolute;
width: 82px;
height: 24px;
left: 567px;
top: 865px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;

color: #FFFFFF;



/* Rectangle 13 */


position: absolute;
width: 140px;
height: 33px;
left: 760px;
top: 859px;

background: #0181CA;
border: 1px solid #0181CA;
box-sizing: border-box;
border-radius: 10px;


/* View Profile */


position: absolute;
width: 101px;
height: 24px;
left: 785px;
top: 864px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;

color: #FFFFFF;



/* Star 9 */


position: absolute;
width: 28px;
height: 26px;
left: 775px;
top: 662px;

background: #F3F80D;
border: 1px solid #000000;
box-sizing: border-box;


/* Star 10 */


position: absolute;
width: 28px;
height: 26px;
left: 802px;
top: 662px;

background: #F3F80D;
border: 1px solid #000000;
box-sizing: border-box;


/* Star 11 */


position: absolute;
width: 28px;
height: 26px;
left: 830px;
top: 662px;

background: #F3F80D;
border: 1px solid #000000;
box-sizing: border-box;


/* Star 12 */


position: absolute;
width: 28px;
height: 26px;
left: 858px;
top: 662px;

background: #F3F80D;
border: 1px solid #000000;
box-sizing: border-box;


/* Star 13 */


position: absolute;
width: 28px;
height: 26px;
left: 893px;
top: 663px;

background: #C4C4C4;


/* Female */


position: absolute;
width: 140px;
height: 28px;
left: 512px;
top: 660px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

color: #000000;



/* Qualification */


position: absolute;
width: 140px;
height: 28px;
left: 512px;
top: 706px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

color: #000000;



/* BSSE */


position: absolute;
width: 140px;
height: 28px;
left: 816px;
top: 705px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

color: #000000;



/* 04 Years */


position: absolute;
width: 140px;
height: 28px;
left: 816px;
top: 749px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

color: #000000;



/* Mathematics */


position: absolute;
width: 171px;
height: 28px;
left: 816px;
top: 800px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

color: #000000;



/* Experience */


position: absolute;
width: 140px;
height: 28px;
left: 512px;
top: 753px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

color: #000000;



/* Subject */


position: absolute;
width: 140px;
height: 28px;
left: 512px;
top: 800px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

color: #000000;



/* Rectangle 14 */


position: absolute;
width: 464px;
height: 378px;
left: 961px;
top: 536px;

background: #ACDDF9;
border: 2px solid #74C3F0;
box-sizing: border-box;
border-radius: 10px;


/* Line 10 */


position: absolute;
width: 463px;
height: 0px;
left: 962px;
top: 827.31px;

border: 1px solid #000000;
transform: rotate(0.09deg);


/* Line 11 */


position: absolute;
width: 463px;
height: 0px;
left: 962px;
top: 780px;

border: 1px solid #000000;
transform: rotate(0.09deg);


/* Line 12 */


position: absolute;
width: 463px;
height: 0px;
left: 963px;
top: 733px;

border: 1px solid #000000;
transform: rotate(0.09deg);


/* Line 13 */


position: absolute;
width: 463px;
height: 0px;
left: 963px;
top: 688px;

border: 1px solid #000000;
transform: rotate(0.09deg);


/* Atiqa Ejaz */


position: absolute;
width: 199px;
height: 41px;
left: 1101px;
top: 613px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 47px;

color: #000000;



/* Ellipse 3 */


position: absolute;
width: 127px;
height: 123px;
left: 1125px;
top: 487px;

background: url(user.png);


/* Rectangle 17 */


position: absolute;
width: 140px;
height: 33px;
left: 534px;
top: 859px;

background: #0181CA;
border: 1px solid #0181CA;
box-sizing: border-box;
border-radius: 10px;


/* Hire Now */


position: absolute;
width: 82px;
height: 24px;
left: 567px;
top: 865px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;

color: #FFFFFF;



/* Rectangle 18 */


position: absolute;
width: 140px;
height: 33px;
left: 760px;
top: 859px;

background: #0181CA;
border: 1px solid #0181CA;
box-sizing: border-box;
border-radius: 10px;


/* View Profile */


position: absolute;
width: 101px;
height: 24px;
left: 785px;
top: 864px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;

color: #FFFFFF;



/* Star 19 */


position: absolute;
width: 28px;
height: 26px;
left: 775px;
top: 662px;

background: #F3F80D;
border: 1px solid #000000;
box-sizing: border-box;


/* Star 20 */


position: absolute;
width: 28px;
height: 26px;
left: 802px;
top: 662px;

background: #F3F80D;
border: 1px solid #000000;
box-sizing: border-box;


/* Star 21 */


position: absolute;
width: 28px;
height: 26px;
left: 830px;
top: 662px;

background: #F3F80D;
border: 1px solid #000000;
box-sizing: border-box;


/* Star 22 */


position: absolute;
width: 28px;
height: 26px;
left: 858px;
top: 662px;

background: #F3F80D;
border: 1px solid #000000;
box-sizing: border-box;


/* Star 23 */


position: absolute;
width: 28px;
height: 26px;
left: 893px;
top: 663px;

background: #C4C4C4;


/* Female */


position: absolute;
width: 140px;
height: 28px;
left: 512px;
top: 660px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

color: #000000;



/* Qualification */


position: absolute;
width: 140px;
height: 28px;
left: 512px;
top: 706px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

color: #000000;



/* BSSE */


position: absolute;
width: 140px;
height: 28px;
left: 816px;
top: 705px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

color: #000000;



/* 04 Years */


position: absolute;
width: 140px;
height: 28px;
left: 816px;
top: 749px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

color: #000000;



/* Experience */


position: absolute;
width: 140px;
height: 28px;
left: 512px;
top: 753px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

color: #000000;



/* Subject */


position: absolute;
width: 140px;
height: 28px;
left: 512px;
top: 800px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

color: #000000;



/* Rectangle 19 */


position: absolute;
width: 464px;
height: 378px;
left: 961px;
top: 536px;

background: #ACDDF9;
border: 2px solid #74C3F0;
box-sizing: border-box;
border-radius: 10px;


/* Line 14 */


position: absolute;
width: 463px;
height: 0px;
left: 962px;
top: 827.31px;

border: 1px solid #000000;
transform: rotate(0.09deg);


/* Line 15 */


position: absolute;
width: 463px;
height: 0px;
left: 962px;
top: 780px;

border: 1px solid #000000;
transform: rotate(0.09deg);


/* Line 16 */


position: absolute;
width: 463px;
height: 0px;
left: 963px;
top: 733px;

border: 1px solid #000000;
transform: rotate(0.09deg);


/* Line 17 */


position: absolute;
width: 463px;
height: 0px;
left: 963px;
top: 688px;

border: 1px solid #000000;
transform: rotate(0.09deg);


/* Sigha Taqdees */


position: absolute;
width: 263px;
height: 41px;
left: 1074px;
top: 615px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 47px;

color: #000000;



/* Ellipse 4 */


position: absolute;
width: 127px;
height: 123px;
left: 1125px;
top: 487px;

background: url(user.png);


/* Rectangle 15 */


position: absolute;
width: 140px;
height: 33px;
left: 1004px;
top: 859px;

background: #0181CA;
border: 1px solid #0181CA;
box-sizing: border-box;
border-radius: 10px;


/* Hire Now */


position: absolute;
width: 82px;
height: 24px;
left: 1037px;
top: 865px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;

color: #FFFFFF;



/* Rectangle 16 */


position: absolute;
width: 140px;
height: 33px;
left: 1230px;
top: 859px;

background: #0181CA;
border: 1px solid #0181CA;
box-sizing: border-box;
border-radius: 10px;


/* View Profile */


position: absolute;
width: 101px;
height: 24px;
left: 1255px;
top: 864px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;

color: #FFFFFF;



/* Star 14 */


position: absolute;
width: 28px;
height: 26px;
left: 1245px;
top: 662px;

background: #F3F80D;
border: 1px solid #000000;
box-sizing: border-box;


/* Star 15 */


position: absolute;
width: 28px;
height: 26px;
left: 1272px;
top: 662px;

background: #F3F80D;
border: 1px solid #000000;
box-sizing: border-box;


/* Star 16 */


position: absolute;
width: 28px;
height: 26px;
left: 1300px;
top: 662px;

background: #F3F80D;
border: 1px solid #000000;
box-sizing: border-box;


/* Star 17 */


position: absolute;
width: 28px;
height: 26px;
left: 1328px;
top: 662px;

background: #F3F80D;
border: 1px solid #000000;
box-sizing: border-box;


/* Star 18 */


position: absolute;
width: 28px;
height: 26px;
left: 1363px;
top: 663px;

background: #C4C4C4;


/* Female */


position: absolute;
width: 140px;
height: 28px;
left: 982px;
top: 660px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

color: #000000;



/* Qualification */


position: absolute;
width: 140px;
height: 28px;
left: 982px;
top: 706px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

color: #000000;



/* BSSE */


position: absolute;
width: 140px;
height: 28px;
left: 1286px;
top: 705px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

color: #000000;



/* 03 Years */


position: absolute;
width: 140px;
height: 28px;
left: 1286px;
top: 749px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

color: #000000;



/* Science */


position: absolute;
width: 171px;
height: 28px;
left: 1286px;
top: 800px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

color: #000000;



/* Experience */


position: absolute;
width: 140px;
height: 28px;
left: 982px;
top: 753px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

color: #000000;



/* Subject */


position: absolute;
width: 140px;
height: 28px;
left: 982px;
top: 800px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

color: #000000;



/* Home Tutors Courses About Us */


position: absolute;
width: 353px;
height: 24px;
left: 743px;
top: 130px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
/* identical to box height */


color: #000000;
