/* Capture 1 */


position: absolute;
width: 1440px;
height: 108px;
left: 0px;
top: 0px;

background: url(Capture.png);


/* TeachIT */


position: absolute;
width: 212px;
height: 46px;
left: 113px;
top: 113px;

font-family: Spectral;
font-style: normal;
font-weight: normal;
font-size: 49px;
line-height: 75px;

color: #000000;



/* Rectangle 3 */


position: absolute;
width: 141px;
height: 38px;
left: 1255px;
top: 121px;

background: #0181CA;
border-radius: 10px;


/* Rectangle 5 */


position: absolute;
width: 141px;
height: 38px;
left: 1096px;
top: 121px;

background: #E5E5E5;
border: 1px solid #0181CA;
box-sizing: border-box;
border-radius: 10px;


/* Rectangle 4 */


position: absolute;
width: 106px;
height: 75px;
left: 21px;
top: 108px;

background: url(f4a956759784c07447327065a19f5b78--education-logo-templates-free-removebg-preview.png);


/* Rectangle 2 */


position: absolute;
width: 1440px;
height: 270px;
left: 0px;
top: 217px;

background: url(iStock-869155894-1591301228.jpg);
opacity: 0.7;
border: 1px solid #E5E5E5;
box-sizing: border-box;


/* Your satisfaction is guaranteed */


position: absolute;
width: 214px;
height: 42px;
left: 39px;
top: 835px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;

color: #7A7676;



/* Connect instantly from anywhere */


position: absolute;
width: 203px;
height: 43px;
left: 295px;
top: 834px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;

color: #7A7676;



/* Get help in your subject and grade level */


position: absolute;
width: 251px;
height: 43px;
left: 598px;
top: 834px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;

color: #000000;



/* Only pay for the time you use */


position: absolute;
width: 215px;
height: 54px;
left: 915px;
top: 824px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 7px;
line-height: 8px;

color: #000000;



/* Sign up for free */


position: absolute;
width: 171px;
height: 36px;
left: 1253px;
top: 830px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 7px;
line-height: 8px;

color: #000000;



/* Rectangle 6 */


position: absolute;
width: 1440px;
height: 110px;
left: 0px;
top: 914px;

background: #5ABDF5;


/* Vector */


position: absolute;
left: 88.75%;
right: 9.72%;
top: 93.95%;
bottom: 4.3%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 91.39%;
right: 7.43%;
top: 93.95%;
bottom: 4.3%;

background: #FFFFFF;


/* CONTACT Email: support@teachit.com Terms and Conditions of Use Privacy Policy */


position: absolute;
width: 168px;
height: 96px;
left: 1232px;
top: 923px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;

color: #FFFFFF;



/* Home About FAQ's Blogs T&C For Tutors T&C For Students */


position: absolute;
width: 202px;
height: 103px;
left: 26px;
top: 921px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;

color: #FFFFFF;



/* Rectangle 8 */


position: absolute;
width: 1440px;
height: 191px;
left: 0px;
top: 504px;

background: #F8F1F1;


/* Find your subject expert Get instant help for your questions. */


position: absolute;
width: 213px;
height: 28px;
left: 732px;
top: 555px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;

color: #7A7676;



/* Rectangle 7 */


position: absolute;
width: 1440px;
height: 103px;
left: 0px;
top: 710px;

background: url(Capture01.png);


/* Online Tutors */


position: absolute;
width: 231px;
height: 18px;
left: 684px;
top: 515px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

color: #7A7676;



/* Ellipse 1 */


position: absolute;
width: 127px;
height: 123px;
left: 548px;
top: 559px;

background: url(user.png);


/* Learn one-on-one with an expert in the TeachIT Online Classroom */


position: absolute;
width: 384px;
height: 14px;
left: 540px;
top: 537px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;

color: #7A7676;



/* Rectangle 9 */


position: absolute;
width: 239px;
height: 33px;
left: 715px;
top: 621.5px;

background: #0181CA;
border: 1px solid #0181CA;
box-sizing: border-box;
border-radius: 10px;


/* Find Online Tutor Now */


position: absolute;
width: 186px;
height: 24px;
left: 742px;
top: 626px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;

color: #FFFFFF;



/* Vector */


position: absolute;
left: 86.39%;
right: 12.36%;
top: 93.95%;
bottom: 4.3%;

background: #FFFFFF;


/* Login */


position: absolute;
width: 50px;
height: 23px;
left: 1141px;
top: 129px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

color: #0181CA;



/* Register */


position: absolute;
width: 74px;
height: 23px;
left: 1289px;
top: 129px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

color: #FFFFFF;



/* Tutors */


position: absolute;
width: 101px;
height: 24px;
left: 765px;
top: 129px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
/* identical to box height */


color: #000000;



/* Home */


position: absolute;
width: 62px;
height: 24px;
left: 684px;
top: 129px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
/* identical to box height */


color: #000000;



/* About Us */


position: absolute;
width: 89px;
height: 24px;
left: 978px;
top: 129px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
/* identical to box height */


color: #000000;



/* Courses */


position: absolute;
width: 86px;
height: 24px;
left: 859px;
top: 129px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
/* identical to box height */


color: #000000;
