/* Capture 1 */


position: absolute;
width: 1440px;
height: 108px;
left: 0px;
top: 0px;

background: url(Capture.png);


/* TeachIT */


position: absolute;
width: 212px;
height: 46px;
left: 113px;
top: 113px;

font-family: Spectral;
font-style: normal;
font-weight: normal;
font-size: 49px;
line-height: 75px;

color: #000000;



/* Home Tutors Courses About Us */


position: absolute;
width: 316px;
height: 24px;
left: 762px;
top: 132px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
/* identical to box height */


color: #000000;



/* Rectangle 3 */


position: absolute;
width: 141px;
height: 38px;
left: 1255px;
top: 121px;

background: #0181CA;
border-radius: 10px;


/* Rectangle 5 */


position: absolute;
width: 141px;
height: 38px;
left: 1096px;
top: 121px;

background: #E5E5E5;
border: 1px solid #0181CA;
box-sizing: border-box;
border-radius: 10px;


/* Rectangle 4 */


position: absolute;
width: 106px;
height: 75px;
left: 21px;
top: 108px;

background: url(f4a956759784c07447327065a19f5b78--education-logo-templates-free-removebg-preview.png);


/* Rectangle 2 */


position: absolute;
width: 1440px;
height: 270px;
left: 0px;
top: 217px;

background: url(iStock-869155894-1591301228.jpg);
opacity: 0.7;
border: 1px solid #E5E5E5;
box-sizing: border-box;


/* Rectangle 6 */


position: absolute;
width: 1440px;
height: 110px;
left: 0px;
top: 914px;

background: #5ABDF5;


/* Vector */


position: absolute;
left: 88.75%;
right: 9.72%;
top: 93.95%;
bottom: 4.3%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 91.39%;
right: 7.43%;
top: 93.95%;
bottom: 4.3%;

background: #FFFFFF;


/* CONTACT Email: support@teachit.com Terms and Conditions of Use Privacy Policy */


position: absolute;
width: 168px;
height: 96px;
left: 1232px;
top: 923px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;

color: #FFFFFF;



/* Home About FAQ's Blogs T&C For Tutors T&C For Students */


position: absolute;
width: 202px;
height: 103px;
left: 26px;
top: 921px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;

color: #FFFFFF;



/* Rectangle 8 */


position: absolute;
width: 1440px;
height: 406px;
left: 0px;
top: 508px;

background: #F8F1F1;


/* Vector */


position: absolute;
left: 86.39%;
right: 12.36%;
top: 93.95%;
bottom: 4.3%;

background: #FFFFFF;


/* Login */


position: absolute;
width: 50px;
height: 23px;
left: 1141px;
top: 129px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

color: #0181CA;



/* Register */


position: absolute;
width: 74px;
height: 23px;
left: 1289px;
top: 129px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

color: #FFFFFF;



/* Rectangle 9 */


position: absolute;
width: 279px;
height: 62px;
left: 580px;
top: 796px;

background: #E5E5E5;
border: 1px solid #0181CA;
box-sizing: border-box;
border-radius: 10px;


/* Line 1 */


position: absolute;
width: 506px;
height: 0px;
left: 452px;
top: 666.01px;

border: 1px solid #000000;
transform: rotate(-0.23deg);


/* Line 2 */


position: absolute;
width: 506px;
height: 0px;
left: 452px;
top: 777.01px;

border: 1px solid #000000;
transform: rotate(-0.23deg);


/* Enter Email/username: */


position: absolute;
width: 322px;
height: 46px;
left: 452px;
top: 589px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 35px;

color: #534F4F;



/* Forget Password? */


position: absolute;
width: 322px;
height: 46px;
left: 452px;
top: 875px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 35px;

color: #7A7676;



/* Reset Now */


position: absolute;
width: 322px;
height: 46px;
left: 715px;
top: 875px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 35px;

color: #4EA8DB;



/* Welcome Teachers */


position: absolute;
width: 372px;
height: 46px;
left: 566px;
top: 516px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 47px;
text-decoration-line: underline;

color: #534F4F;



/* Password: */


position: absolute;
width: 322px;
height: 46px;
left: 452px;
top: 693px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 35px;

color: #534F4F;



/* Login */


position: absolute;
width: 99px;
height: 47px;
left: 670px;
top: 804px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 47px;
/* identical to box height */


color: #0181CA;
